<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>AERO_API_KEY</key>
	<string>$(AERO_API_KEY)</string>
	<key>SEATS_AERO_API_KEY</key>
	<string>$(SEATS_AERO_API_KEY)</string>
	<key>AMADEUS_TEST_KEY</key>
	<string>$(AMADEUS_TEST_KEY)</string>
	<key>AMADEUS_TEST_SECRET</key>
	<string>$(AMADEUS_TEST_SECRET)</string>
	<key>AMADEUS_PROD_KEY</key>
	<string>$(AMADEUS_PROD_KEY)</string>
	<key>AMADEUS_PROD_SECRET</key>
	<string>$(AMADEUS_PROD_SECRET)</string>
	<key>ANTHROPIC_KEY</key>
	<string>$(ANTHROPIC_KEY)</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
